body {
	font-family: "Alegreya", "Georgia", serif;
	background-color: #efefe8;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "MedievalSharp", "Georgia", cursive;
	font-variant: small-caps;
}

button {
	font-family: "Alegreya", "Georgia", serif;
}

.container {
	padding: 0 3%;
}