.footer {
	font-size: 4vw;
	background-color: #33444b;
	color: #ccc;
	height: 6em;
	display: flex;
	justify-content: space-between;
}

.footer-content {
	align-self: center;
	display: flex;
}

.footer-item {
	margin: 0.4em;
	align-self: center;
}

.footer-icon {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	height: 1.5em;
	width: 1.5em;

	background-repeat: no-repeat;
	background-size: 100%;
}

.about, .credits {
	text-decoration: underline;
}

.me {
	text-decoration: underline;
	color: #88c;
}

.me:visited {
	color: #969;
}

.github {
	background-image: url("../img/GitHub-Mark-Light-120px-plus.png");
}

.twitter {
	background-image: url("../img/Twitter_logo_white.png");
}

@media (min-width: 650px){
	.footer {
		font-size: 2vw;
		height: 3em;
		padding: 0 10%;
	}
	
	.me:hover {
		color: #c8f;
	}
}