.wrap-menu {
	background-color: #0a2232;
}

.menu {
	display: flex;
	justify-content: space-between;
	font-size: 5vw;
}

.wrap-menu-item {
}

.menu-item {
	display: block;
	text-indent: -9999px;
	width: 5em;
	height: 3em;
	background-size: 60% 60%;
	background-repeat: no-repeat;
	background-position: center;
}

#back {
	background-image: url("../img/back.svg");
}

#home {
	background-image: url("../img/home.svg");
}

#regen {
	background-image: url("../img/regen.svg");
}

.result {
	margin: 0.5em 0;
	font-size: 8vw;
}

.result-title {
	text-align: center;
	font-weight: bold;
}

.result-list {
	margin: 0.5em 0;
	width: 100%;
}

.result-list-header {
	background-color: #D0D0FE;
	font-size: 0.8em;
	font-weight: bold;
	text-align: left;
	padding: 0.2em 0;
}

.result-list-item {
	background-color: #FFF;
	font-size: 0.8em;
}

.result-list-footer {
	background-color: #D0D0FE;
	font-size: 0.8em;
	font-style: italic;
	padding: 0.2em 0;
}

.result-list-name {
	border: 1px solid;
	padding: 0.5em;
}

.result-list-price {
	width: 40%;
	text-align: right;
	border: 1px solid;
	padding: 0.5em;
}