#loader {
	display: none;
	height: 25px;
	margin-left: 15px;
}

.col-md-1-to-2 {
	width: 11%;
}

.col-md-2-to-3 {
	width: 22.666667%;
}

.col-md-1-to-2, .col-md-2-to-3 {
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	
}

.well {
	padding-bottom: 13px;
}

.well-btn {
	margin-top: -6px;
}

label.checkbox {
	font-weight: normal;
}

.form-control {
	width: 85%;
	display: inline-block;
}

.dont-float {
	clear: left;
}

.active a{
	pointer-events: none;
	cursor: default;	
}

.well a {
	cursor: pointer;
}

#total {
	width: 200px;
}