.radio-hack[name=letter] {
	display: none;
}

.radio-hack[name=letter]:checked + .view {
	display: block;
}

.radio-hack[name=letter]:not(:checked) + .view {
	display: none;
}

.view {
	display: inline-block;
	width: 100%;
}

.header {
	position: relative;
	background-color: #FFFF66;
	font-size: 12vw;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.header-title {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0.1em;
	text-align: center;
}

.header-subtitle {
	text-align: right;
	font-size: 0.5em;
}

.header-back {
	position: absolute;
	top: 0.6em;
	left: 0.5em;
	text-indent: -9999px;
	background-image: url("../img/back.svg");
	background-size: 100% 100%;
	width: 1em;
	height: 0.7em;
}

.type .subtitle {
	text-transform: uppercase;
}

.type .subtitle::before {
	content: "- ";
}

.typeList {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 2.5vw 0;
}

.wrap-typeList-item {
	border-radius: 10%;
	text-align: center;
	margin: 3vw 0;

	background-color: #D0D0FE;
	box-shadow: 3px 3px 5px 2px #CCCCCC;
}

.typeList-item {
	display: block;
	height: 25vw;
	width: 25vw;
	font-size: 8vw;
}

.typeList-item::before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 0;
}

.wrap-valueList-item {
	margin: 1em 0;
}

.valueList-item {
	text-align: center;
	padding: 0.5em;
	border-radius: 0.5em;
	font-size: 8vw;
	width: 100%;

	background-color: #D0D0FE;
	box-shadow: 3px 3px 5px 2px #CCCCCC;
}