.radio-hack[name=letter] {
	display: none;
}

.radio-hack[name=letter]:checked + .view {
	display: block;
}

.radio-hack[name=letter]:not(:checked) + .view {
	display: none;
}

.view {
	display: inline-block;
	width: 100%;
}

.type-header {
	position: relative;
	background-color: #0a2232;
	font-size: 12vw;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.type-header-title {
	color: #FFF;
	font-size: 0.8em;
	font-weight: bold;
	margin-bottom: 0.1em;
	text-align: center;
}

.type-header-subtitle {
	text-align: right;
	font-size: 0.6em;
	color: #cccccc;
}

.header-back {
	position: absolute;
	bottom: 0.3em;
	left: 0.2em;
	text-indent: -9999px;
	background-image: url("../img/back.svg");
	background-size: 100% 100%;
	width: 0.6em;
	height: 0.5em;
	overflow: hidden;
}

.typeList {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 2.5vw 0;
}

.wrap-typeList-item {
	text-align: center;
	margin: 3vw 0;

	background-color: #fff;
}

.typeList-item {
	display: block;
	height: 25vw;
	width: 25vw;
	font-size: 8vw;

	text-indent: -9999px;
	background-size: 100%;
	border-bottom: 0.7vw #e1e0e1 solid;
}

.typeList-item::before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 0;
}

.typeA{
	background-image: url("../img/coins.svg");
}

.typeB{
	background-image: url("../img/gems.svg");
}

.typeC{
	background-image: url("../img/art.svg");
}

.typeD{
	background-image: url("../img/small-objects.svg");
}

.typeE{
	background-image: url("../img/weapon-armor.svg");
}

.typeF{
	background-image: url("../img/combatant.svg");
}

.typeG{
	background-image: url("../img/spellcaster.svg");
}

.typeH{
	background-image: url("../img/lair.svg");
}

.typeI{
	background-image: url("../img/hoard.svg");
}

.wrap-valueList-item {
	margin: 1em 0;
}

.valueList-item {
	text-align: center;
	padding: 0.5em;
	font-size: 8vw;
	width: 100%;

	background-color: #FFF;
	border-bottom: 0.7vw #e1e0e1 solid;
}

@media (min-width: 650px){

	#showMain + .view {
		display: block;
	}
	
	[for=showMain]	{
		display: none;
	}	
	
	.type-header {
		display: flex;
		justify-content: space-between;
		font-size: 4vw;
		padding: 0.2em 2em 0.1em;
	}
	
	.type-header-title {
		align-self: flex-end;
		margin: 0;
	}

	.type-header-subtitle {
		align-self: center;
	}
	
	.wrap-typeList-item {
		margin: 0;
	}

	.typeList-item {
		height: 8vw;
		width: 8vw;
		border-bottom-width: 0.3vw;
		cursor: pointer;
	}
	
	.valueList {
		display: flex;
		flex-flow: wrap;
		justify-content: center;
		margin: 1em 0;
	}
	
	.wrap-valueList-item {
		margin: 0.5em 1.4em;
	}
	
	.valueList-item {
		border-bottom-width: 0.3vw;
		font-size: 2vw;
		padding: 0.2em;
		width: 6em;
		cursor: pointer;
	}

	.wrap-typeList-item:focus,
	.wrap-typeList-item:hover,
	.valueList-item:focus,
	.valueList-item:hover {
		background-color: lightgrey;
	}

	.wrap-typeList-item:hover,
	.valueList-item:hover {
		transition: 0.2s;
	}
}