body {
	font-family: "Alegreya", "Georgia", serif;
	background-color: #DFDFDF;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "MedievalSharp", "Georgia", cursive;
	font-variant: small-caps;
}

h1 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0.1em;
	text-align: center;
}

h2 {
	text-align: right;
	font-size: 0.5em;
}

header.container {
	background-color: #FFFF66;
	font-size: 12vw;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.container {
	padding: 0 3%;
}

.types {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 2.5vw 0;
}

.types li {
	background-color: #D0D0FE;
	box-shadow: 3px 3px 5px 2px #CCCCCC;
	border-radius: 5%;
	text-align: center;
	margin: 2.5vw 0;
}

.types li a {
	display: block;
	height: 28vw;
	width: 28vw;
}

.types li a:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 0;
}

footer {
	background-color: #999999;
	height: 3em;
}

footer:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 0;
}
