body {
	font-family: "Alegreya", "Georgia", serif;
	background-color: #DFDFDF;
}

section {
	display: inline-block;
	width: 100%;
}

section.type {
	display: none;
}

section.type:target {
	display: block;
}

.type h2 {
	text-transform: uppercase;
}

.type h2:before {
	content: "- ";
}

h1, h2, h3, h4, h5, h6 {
	font-family: "MedievalSharp", "Georgia", cursive;
	font-variant: small-caps;
}

h1 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0.1em;
	text-align: center;
}

h2 {
	text-align: right;
	font-size: 0.5em;
}

header.container {
	position: relative;
	background-color: #FFFF66;
	font-size: 12vw;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

header .voltar {
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	border-top: 0.5em solid transparent;
	border-bottom: 0.5em solid transparent;
	border-right: 0.5em solid rgba(0,0,0,0.4);
	width: 0;
	height: 0;
	overflow: hidden;
}

header .voltar:active {
	border-right: 0.5em solid rgba(0,0,0,1);
}

.container {
	padding: 0 3%;
}

.types {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 2.5vw 0;
}

.types li {
	border-radius: 5%;
	text-align: center;
	margin: 2.5vw 0;
}

.types li a {
	display: block;
	height: 28vw;
	width: 28vw;
	font-size: 8vw;
}

.types li a:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 0;
}

.values li {
	margin: 1em 0;
	text-align: center;
	padding: 1em;
	border-radius: 1em;
}

.values a {
	height: 5em;
	width: 100%;
	font-size: 10vw;
}

ol li {
	background-color: #D0D0FE;
	box-shadow: 3px 3px 5px 2px #CCCCCC;	
}

footer {
	background-color: #999999;
	height: 3em;
}

footer:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 0;
}
