body {
	font-family: "Alegreya", "Georgia", serif;
	background-color: #DFDFDF;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "MedievalSharp", "Georgia", cursive;
	font-variant: small-caps;
}

.container {
	padding: 0 3%;
}

.radio-hack[name=letter] {
	display: none;
}

.radio-hack[name=letter]:checked + .view {
	display: block;
}

.radio-hack[name=letter]:not(:checked) + .view {
	display: none;
}

.view {
	display: inline-block;
	width: 100%;
}

.header {
	position: relative;
	background-color: #FFFF66;
	font-size: 12vw;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.header-title {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0.1em;
	text-align: center;
}

.header-subtitle {
	text-align: right;
	font-size: 0.5em;
}

.header-voltar {
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	border-top: 0.5em solid transparent;
	border-bottom: 0.5em solid transparent;
	border-right: 0.5em solid rgba(0,0,0,0.4);
	width: 0;
	height: 0;
	overflow: hidden;
}

.header-voltar:active {
	border-right: 0.5em solid rgba(0,0,0,1);
}

.type .subtitle {
	text-transform: uppercase;
}

.type .subtitle::before {
	content: "- ";
}

.typeList {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 2.5vw 0;
}

.wrap-typeList-item {
	border-radius: 10%;
	text-align: center;
	margin: 3vw 0;

	background-color: #D0D0FE;
	box-shadow: 3px 3px 5px 2px #CCCCCC;
}

.typeList-item {
	display: block;
	height: 25vw;
	width: 25vw;
	font-size: 8vw;
}

.typeList-item::before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 0;
}

.valueList-item {
	margin: 1em 0;
	text-align: center;
	padding: 0.5em;
	border-radius: 0.5em;
	font-size: 8vw;

	background-color: #D0D0FE;
	box-shadow: 3px 3px 5px 2px #CCCCCC;
}

.footer {
	background-color: #999999;
	height: 4em;
}

.footer::before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 0;
}
