.header-typeA {
	background-color: #e2a52b;
}

.header-typeB {
	background-color: #008b45;
}

.header-typeC {
	background-color: #b28054;
}

.header-typeD {
	background-color: #880a5b;
}

.header-typeE {
	background-color: #333333;
}

.header-typeF {
	background-color: #2f6b91;
}

.header-typeG {
	background-color: #3b3553;
}

.header-typeH {
	background-color: #915844;
}

.header-typeI {
	background-color: #b01e23;
}
